@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* ### Accent */
  --blue: hsl(248, 32%, 49%);
  /* ### Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white-color: #fff;
}

.template_background {
  content: '';
  width: 375px;
  height: 1000px;
  margin: 0 auto;
  transform: translateX(-50%);
  left: 50%;
  padding: 0;
  position: fixed;
  background: url('design/mobile-design.jpg');
  background-size: 100%;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('images/bg-intro-mobile.png'), var(--red);
}

.container {
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: var(--white-color);
  max-width: 18rem;
  margin: 0 auto;
  padding-top: 5.5rem;
  line-height: 1.4;
  margin-bottom: 1.3rem;
  font-size: 1.75em;
}

.main-data p {
  text-align: center;
  color: var(--white-color);
  line-height: 1.6;
  padding: 0 2rem;
  opacity: 0.4;
  margin-bottom: 4rem;
}

.trial {
  background-color: var(--blue);

  border: none;
  border-radius: 0.5rem;
  margin: 0 1.5rem 1.2rem;
  color: var(--white-color);
  padding: 1.2rem 4.7rem;
  line-height: 1.6;
  letter-spacing: 0.35px;
  opacity: 0.5;
  font-size: 1rem;
}

footer {
  display: none;
}
